<div class="nav">
  <div class="container nav-wrapper">
    <a href="index.html" class="logo"
      ><img src="../assets/images/logo-white.png" alt="logo-white"
    /></a>
    <ul class="list">
      <li class="item"><a class="pl-4 pr-4" href="#">系列鏡框</a></li>
      <li class="item"><a class="pl-4 pr-4" href="#">門市據點</a></li>
      <li class="item"><a class="pl-4 pr-4" href="#">部落格</a></li>
      <li class="item">
        <a class="pl-4 pr-sm" href="question.html">常見問題</a>
      </li>
    </ul>
  </div>
</div>
